@charset "UTF-8";

    /* Declarações Gerais */

            * {
                margin: 0px;
                padding: 0px;
                font-family: Arial, Helvetica, sans-serif;
            }

            html, body {
                width: 100vw;
                height: 100vh;
                background-color: #233eff;
                background-size: contain;
                background-repeat: no-repeat;
            }

            h1 {
                color: white;
                text-shadow: 2px 2px 0px #192bb3;
                padding: 10px;
            }
        /* ===================== */

        /* Declarações Orientação Portrait */
            @media screen and (orientation: portrait) {

                body {
                    background: url(../images/cev-portrait.jpg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center bottom;
                }
            }
        /* ================================ */

        /* Declarações Orientações LandScape */
            @media screen and (orientation: landscape) {
                
                body {
                    background: url(../images/cev-landscape.jpg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left bottom;
                }
            }
        /* =================================== */