body {
    margin: 0px;
}

.box {
    border: 5px solid;
    font-size: 5em;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-bottom: 50px;
}

#box1 {
    background-color: antiquewhite;
    
    
}

#box2 {
    background-color: antiquewhite;
    
}