@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(57, 19, 96, 0.806);
    background-image: url(img-src/espaco.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

.astronauta {
    background-image: url(img-src/astronauta.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 600px;
    width: 600px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}